* {
  font-family: 'Bebas Neue', cursive;
  font-family: 'Nunito', sans-serif;
  color: #000000;
  margin: 0;
  font-size: 34px;
}

.focus {
  color: #52E5AB;
}

.text {
  color: #464646;
}

.white-text {
  color: white;
}

.column {
  display: flex;
  flex-direction: column;
}

main {
  margin: 30px 20vw 0 10vw;
  width: 60vw;
  min-height: 75vh;
  justify-content: start;
  font-size: 1em;
}

main h1 {
  font-size: 2.5em;
}

main p {
  font-size: 0.8em;
}

header div, header h1{
  margin: auto 0;
}

a {
  margin: 5px;
}

.row {
  display: flex;
  flex-direction: row;
}

header {
  height: 15vh;
  margin: 0;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 3em;
}

header h1 {
  margin-left: 5px;
  font-size: 1em;
}

footer {
  font-size: 3em;
  bottom: 0;
}

.infos {
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 10px;
}

#experience {
  margin-top: 10vh;
  background-color: #52E5AB;
  min-height: 100vh;
  width: 100vw;
}

.skill-container {
  justify-content: space-between;
}

.skills {
  margin: auto;
  margin-top: 10px;
  justify-content: space-between;
  min-height: 70vh;
  background-color: white;
  width: 30vw;
  text-align: center;
  border-radius: 20px;
  font-size: 3em;
  padding: 20px;
  align-items: center;
}

svg {
  color: #52E5AB;
}

.projects {
  height: 120vh;
  background-color: #52E5AB;
}

.projects-div {
  background-color: white;
  width: 90vw;
  height: 120vh;
  margin: auto;
  border-radius: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project-card {
  margin-top: 20px;
  margin: auto;
  width: 40vw;
  text-align: center;
  font-size: 0.5em;
}

.project-card p {
  font-size: 1em;
}

.project-card img {
  border-radius: 20px;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.work {
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  font-size: 3em;
}

.icons {
  margin-bottom: 10vh;
}

.icons svg {
  margin-left: 30px;
}

.hidden {
  font-size: 10rem;
  color: #c2c2c2;
  opacity: 0.13;
  position: absolute;
  line-height: 80%;
  bottom: 0;
  right: 1;
  font-family: roboto;
  width: 100vw;
}