.header {
  display : flex;
  justify-content: space-between;
  align-items: center;
  background-color : rgb(50, 167, 145);
}

input {
  border-radius: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color : rgb(50, 167, 145);
}

div {
  margin: 10px 0;
}

body {
  margin: 0;
}

.header img {
  height: 5rem;
  align-self: flex-end;
}

.trybewarts-login {
  align-items: center;
  justify-content: center;
}

.trybewarts-login input , button {
  margin: 20px;
}

.row , #label-rate , .rate , form , main , .materias {
  display: flex;
  flex-direction: row;
}

.row {
  margin: 0;
  justify-content: space-between;
}

.row input , select {
  margin: 20px 0;
  width: 45%;
}

.rate , .materias {
  justify-content: space-between;
}

main {
  justify-content: space-between;
}

#trybewarts-forms-logo {
  align-self: flex-start;
  flex-direction: row;
}

#evaluation-form {
  margin: 20px;
  padding: 20px;

  /* Box shadows from --> https://www.w3schools.com/css/css3_shadows_box.asp */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 675px;
  flex-direction: column;
}

#label-family {
  display: flex;
  flex-direction: column;
}

.family {
  display: flex;
  flex-direction: column;
}
