* {
  font-family: 'Bebas Neue';
  color: #ffffff;
  font-size: 44px;
}

body {
  background-color: black;
  margin: 0;
}

.focus {
  color: #52E5AB;
}

.text {
  color: #000000;
}

.white-text {
  color: white;
}

.column {
  display: flex;
  flex-direction: column;
}

main {
  margin: auto;
  width: 100vw;
}

video {
  width: 100vw;
}

.video-container {
  position: relative;
}

header {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, 0);
  height: 15vh;
  margin: 0;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
}

header div {
  justify-content: space-between;
  width: 50vw;
}

a {
  text-decoration: none;
}

footer {
  text-align: center;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.contact {
  height: 40vh;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
}

.contact div {
  margin-top: 20px;
  margin-right: 20px;
  align-items: center;
}

.line {
  width: 2px;
  height: inherit;
  background-color: #000000;
}

.side-video {
  width: 60vw;
}

.grid {
  margin-top: 5px;
  flex-wrap: wrap;
}

.grid-video {
  width: 50vw;
}

.side-text {
  margin: 0 10px;
}

.large {
  font-size: 2em;
}

.center-text {
  text-align: center;
  font-weight: bold;
}

.small {
  font-size: 0.8em;
}

.medium {
  font-size: 1.2em;
}

.xx-small {
  font-size: 0.5em;
}

.icons {
  align-items: center;
  justify-content: space-evenly;
  width: 80vw;
  margin: auto;
}

.over-big {
  font-size: 5em;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.about {
  justify-content: space-around;
  text-align: center;
}

.vertical-line {
  width: 90vw;
  height: 5px;
  background-color: white;
  margin: 10px auto;
}