body {
    background-color: #ECECEC;
}

.uol-box {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    max-width: 410px;
    margin: auto;
}

.box-title {
    text-align: center;
    padding: 8px 16px;
    font-size: 24px;
    color: #FFFFFF;
    background-color: #0088A5;
    margin: 0 0 16px 0;
    border-radius: 8px;
}

.box-button {
    font-size: 16px;
    color: #FFFFFF;
    background-color: #0088A5;
    box-shadow: 0px 3px #006E86;
    border-radius: 4px;
    border: none;
    margin: 16px;
}

.box-support-text {
    font-size: 16px;
    color: #333333;
    margin: 16px;
}